In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from posixpath import sep
df = pd.read_csv('/content/sample_data/Titanic-Dataset.csv')

In [ ]:
df.head()

,IDpassageiro,Sobrevivente,ClassePassagem,Nome,Genero,Idade,NrIrmaosCojuges,NrPaisFilhos,NrTicket,Tarifa,Cabine,PortoEmbarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Renomeando as colunas:

In [ ]:
df.columns = ['IDpassageiro', 'Sobrevivente', 'ClassePassagem', 'Nome', 'Genero', 'Idade' ,'NrIrmaosCojuges', 'NrPaisFilhos', 'NrTicket', 'Tarifa', 'Cabine', 'PortoEmbarque' ]

Agrupando os dados por gênero e sobrevivente e contando o número de passageiro pela id:

In [ ]:
df.groupby(['Genero', 'Sobrevivente'])['IDpassageiro'].count()

Genero  Sobrevivente
female  0                81
        1               233
male    0               468
        1               109
Name: IDpassageiro, dtype: int64

A média de idade de quem sobreviveu (1) e quem não sobreviveu (0):

In [ ]:
df.groupby('Sobrevivente')['Idade'].mean()

Sobrevivente
0    30.626179
1    28.343690
Name: Idade, dtype: float64

Encontrando o passageiro mais velho:

In [ ]:
max_idade = df['Idade'].max()

In [ ]:
mais_velho = df.loc[df['Idade'] == max_idade]
mais_velho.head()

,IDpassageiro,Sobrevivente,ClassePassagem,Nome,Genero,Idade,NrIrmaosCojuges,NrPaisFilhos,NrTicket,Tarifa,Cabine,PortoEmbarque
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S

Encontrando o passageiro mais jovem:

In [ ]:
min_idade = df['Idade'].min()

In [ ]:
mais_jovem = df.loc[df['Idade'] == min_idade]
mais_jovem.head()

,IDpassageiro,Sobrevivente,ClassePassagem,Nome,Genero,Idade,NrIrmaosCojuges,NrPaisFilhos,NrTicket,Tarifa,Cabine,PortoEmbarque
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C

In [ ]:
df.groupby('Cabine')['IDpassageiro'].count()
df.head()

,IDpassageiro,Sobrevivente,ClassePassagem,Nome,Genero,Idade,NrIrmaosCojuges,NrPaisFilhos,NrTicket,Tarifa,Cabine,PortoEmbarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S